@import "./fishBoxes.css";
@import "./travelBoxes.css";

img {
    width: 200px;
    height: 150px;
}
.travel__quote {
    font-style: italic;
}
.travel__author {
    text-transform: capitalize;
}

header {
    text-align: center;
    font-family: Tahoma;
}

main {
    display: flex;
    
}

.leftofpage {
    align-items: flex-start;  
    width: 75%;
    flex-basis: 80%; 
}

.fishTips {
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-basis: 20%;
    margin-left: 30px;
    border-left: 1px solid #7CEFE9;
    border-right: 1px solid #7CEFE9;
    border-bottom: 1px solid #7CEFE9;
    border-top: 1px solid #7CEFE9;
    width: 25%;
}

h3 {
    text-align: center;
    font-family: Verdana;
    border: 2px solid #7CEFE9;
    align-content: flex-start;
    padding-top: 0px;
}

.fish__tipz { 
    text-align: center;
}

.travel {
    border: 1px solid #7CEFE9;
}

.travel__author {
    padding-left: 2px;
}

.travel__quote {
    padding-left: 2px;
}

.fish__instructions1, .fish__instructions2, h4 {
    padding-left: 4px;
}